<%= f.label :commitment %> <br>

<select name="activity[commitment]">
  <option value="">Please select</option>
  <option value="1">Hobby</option>
  <option value="2">Part-time</option>
  <option value="3">Full-time</option>
</select>
