/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 /* font-family: 'Poppins', sans-serif;
 font-family: 'Titillium Web', sans-serif;
 font-family: 'Roboto Mono', monospace;
 font-family: 'Indie Flower', cursive; */

.main-container {
  margin-top: 6rem;
}
 .bg {
   position: fixed;
   top: -50%;
   left: -50%;
   width: 200%;
   height: 200%;
 }
 .bg img {
   position: absolute;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   margin: auto;
   min-width: 50%;
   min-height: 50%;
 }

.navbar.is-fixed-top {
  height: 80px;
}
.is-info {
  color: inherit;
}
.navbar-item.is-active, .navbar-item:hover {
  background-color: #118fe4;
  color: #fff;
}

.banner-box {
  font-size: 1.5rem;
  font-weight: 600;
  /* font-family: 'Poppins', sans-serif; */
  font-family: 'Indie Flower', cursive;
  /* font-family: 'Titillium Web', sans-serif; */
  /* font-family: 'Roboto Mono', monospace; */
  /* font-family: 'Muli', sans-serif; */
}

.welcome-index-container {
  margin-top: 100px;
}

.columns-below {
  padding-top: 2rem;
}
.text_center {
  text-align: center;
}

.card {
  border-radius: 5px;
}
.card-image > .fa {
  color: #209cee;
  font-size: 8rem;
  /* padding-bottom: 2rem; */
  padding-top: 1rem;
}

/* Tile images */
.is-horizontal-center {
  justify-content: center;
}

.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
}

.box {
  margin-top: 4rem;
  background-color: #2d8cd5e6;;
}

.avatar {
  margin-top: -70px;
  padding-bottom: 20px;
}
.avatar img {
  padding: 5px;
  background: #fff;
  border-radius: 50%;
  -webkit-box-shadow: 0 2px 3px rgba(10,10,10,.1), 0 0 0 1px rgba(10,10,10,.1);
  box-shadow: 0 2px 3px rgba(10,10,10,.1), 0 0 0 1px rgba(10,10,10,.1);
}
