<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<h1>Activities</h1>

<ul>
  <% @activities.each do |activity| %>
    <li><%= link_to(activity.name, activity_path(activity)) %></li>
  <% end %>
</ul>
